/* HEADER AND NAVIGATION LINKS STYLES */
header {
    background-color: #7097AB ;
    color: #ECD59F;
    display: block; 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
/* this removed the background color appearing above header*/
h1.header {
    color: #ECD59F;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0%;
    padding-top: 5px;
    padding-bottom: 10px;
}

nav a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    background-color: rgb(241, 230, 230);
    color: black;
}

a:link {
    color: #ECD59F;
}

a:visited {
    color: rgb(49, 61, 171);
} 

/* MAIN BODY STYLES FOR HOME PAGE */
body {
    background: #ABD1DC;
    margin: 0%;
}

h1 {
    color: #4d6d7d;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 35px;
    padding-left: 5px;
}

img#Profile-Photo {
    border: 5px solid rgb(248, 241, 241);
    border-radius: 4px;
    float: left;
    width: 500px;
}

p#homeText {
    color: #4d6d7d ;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 300px;
    text-align: center;
}

/* MAIN BODY STYLES FOR BLOG PAGE */

p {
    color: #4d6d7d ;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* MAIN BODY STYLES FOR PROJECTS PAGE */

#puppy-image {
    display: none;
    padding-left: 30px;
    width: 300px;
}

