.image-container {
    position: relative;
    width: 550px;
    height: 500px;
}

.image {
    border: 5px solid black;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
} 

.image-text-container {
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

#countries-container {
    margin: auto;
    padding-bottom: 80px;
}

#image-countries {
    border: 5px solid black;
    border-radius: 10px;
    height: 100%;
    object-fit: fill;
    width: 100%;
} 

#countries-text {
    opacity: 0;
}