h2 {
    font-style: italic;
    font-size: 30px;
}

.image-container {
    position: relative;
    width: 550px;
    height: 500px;
}

.image {
    border: 5px solid black;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
} 

.image-text-container {
    font-weight: bold;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 500ms;
}

.container {
    display: flex;
    justify-content: space-between;
}

#countries-container {
    margin: auto;
    padding-bottom: 80px;
}

#image-countries {
    border: 5px solid black;
    border-radius: 10px;
    height: 100%;
    object-fit: fill;
    width: 100%;
} 
